.welcome {
  margin: 3rem auto 0;
  width: 100%;
  min-height: 400px;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
  background: rgba(234, 221, 221, 0.25);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.welcome h1 {
  font-size: 7rem;
  text-align: center;
}

.welcome h1 span {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.welcome h1 span::before {
  background: linear-gradient(
    to right,
    rgba(0, 126, 91, 1) 0%,
    rgba(40, 101, 55, 1) 25%,
    rgba(0, 78, 54, 1) 50%,
    rgba(0, 86, 62, 1) 100%
  );

  content: '';
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  z-index: -1;
  border-radius: 0;
}

.welcome h1 span:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  border-radius: 0.5rem;
}

.welcome h2 {
  font-size: 1.5rem;
}

.resume-container {
  text-align: center;
  padding-top: 2rem;
}

button {
  color: white;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 30%;
  border-radius: 2rem;
  background: rgba(234, 221, 221, 0.25);
  backdrop-filter: blur(4px);
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  width: 3rem;
  height: 3.5rem;
  background: #41745b;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  position: absolute;
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  content: '';
  position: absolute;
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  margin-left: 3rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: #fff;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover .circle {
  width: 100%;
  background-color: #37aa88;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

@media (max-width: 1200px) {
  .welcome {
    font-size: 2.5rem;
  }
  .welcome h1 {
    font-size: 6rem;
  }
  .welcome h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .welcome {
    font-size: 2rem;
    padding: 1rem 0.5rem;
  }
  .welcome h1 {
    font-size: 4rem;
  }
  .welcome h2 {
    font-size: 1.5rem;
  }
  button.learn-more {
    width: 60%;
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

@media (max-width: 768px) {
  .welcome {
    font-size: 1.8rem;
    min-height: 400px;
  }
  .welcome h1 {
    font-size: 3rem;
  }
  .welcome h2 {
    font-size: 1.5rem;
  }
  .resume-container {
    padding-top: 1rem;
  }
  button.learn-more {
    width: 80%;
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

@media (max-width: 600px) {
  .welcome {
    font-size: 1.5rem;
    min-height: 300px;
  }
  .welcome h1 {
    font-size: 2.5rem;
  }
  .welcome h2 {
    font-size: 1.2rem;
  }
  button.learn-more {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 2rem;
  }
}
