h3 {
    font-size: 2rem;
    color: #004953;
}

.projects {
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.card-text {
    color: #004953;
}

.btn {
    border-radius: 4px;
    background-color: #41745Bff;
    color: white;
    border: none;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #37aa88;
    color: white;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    font-size: 1rem;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 1.5rem;
    }

    .projects {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .btn {
        width: 150px;
    }
}