.card-text {
  font-size: 1rem;
  color: #004953;
  font-family: 'Raleway', sans-serif;
}

.projects {
  margin-top: 3rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.projects h3 {
  color: #004953;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.btn {
  --b: 0.1em;
  --c: #00467f;
  color: #09516c;
  border-color: #8fd3f4;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  width: 200px;
  margin: 5px;
  min-height: 58px;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.btn:hover {
  --_p: 100%;
  --_s: 0.3s;
  color: #004953;
  background-color: #a5fac488;
  border: solid white;
}

@media screen and (max-width: 768px) {
  .projects {
    width: 80vw;
  }
}
