/*Styling for items in the resume section. */
h1 {
    margin-right: 4rem;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-10 {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
}

.col-10 p {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.col-6 {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.col-6 p {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}

.col-6 ul {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    padding-right: 5rem;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.center-button button {
    background-color: #922f44;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    cursor: pointer;
    border-radius: 2rem;
}

.center-button button:hover {
    color: #922f44;
    background-color: white;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .col-6 {
        flex: 0 0 100%;
        padding-left: 10px;
    }

    .col-12 {
        flex: 0 0 100%;
    }
}