.about-info {
   margin-top: 6rem;
   padding: 1.5rem;
   font-size: 1.2rem;
   background-color: #f8f5f2;
   border-radius: 1rem;
}


.about {
    margin-top: 5rem;
    border-radius: 55% 36% 35% 56% / 28% 24% 28% 45%;
    background-color: #1B4D3E;
    width: 485px;
    height: 420px;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 350px;
    object-fit: cover;
    padding-top: 5rem;
    border-radius: 59% 41% 72% 28% / 34% 75% 25% 66%;
}