.about-info {
    margin-top: 6rem;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    background-color: #f8f5f2;
    border-width: .5rem;
    border-style: solid;
    border-image: linear-gradient(to right, #84fab0, #8fd3f4) 1;
}

.about-skills {
    padding-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
}

.about-skills h1 {
    margin-top: 5rem;
}

.about-skills p {
    font-size: 1.3rem;
}

.about-skills h4 {
    margin-top: 7rem;
    font-weight: bold;
}

.about-skills ul:hover {
    font-size: 1.6rem;
    background: -webkit-linear-gradient(#00467F 0%,
            #A5CC82 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-certs {
    border-top: solid #09516c;
    font-family: 'Raleway', sans-serif;
}

.about-certs h1 {
    text-align: right;
    margin-top: 5rem;
}

.about-certs p {
    font-size: 1.3rem;
    text-align: right;
}

.about-certs h4 {
    margin-top: 7rem;
    font-weight: bold;
}

.about-certs ul:hover {
    font-size: 1.6rem;
    background: -webkit-linear-gradient(#00467F 0%,
            #A5CC82 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 425px;
    object-fit: cover;
    padding-top: 5rem;
    border-radius: 59% 41% 72% 28% / 34% 75% 25% 66%;
}