/* Default styles for larger screens */
.home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home h1 {
    margin: 0;
    font-family: 'Cedarville Cursive', cursive;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    color: #922f44;
    font-size: 3rem;
    border-bottom: 4px solid palevioletred;
}

.home p {
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    padding-top: 75px;
    padding-left: 3rem;
    color: #555;
    font-size: 22px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

    .home h1,
    .home p {
        padding: 1rem;
        text-align: center;
    }
}