.active {
  font-weight: bold;
}

.logo img {
  margin: 10px 10px 25px 25px;
}

.navbar {
  background-color: #f8f5f2;
  padding: 1rem;
}

.navbar-brand {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-right: 20rem;
}

.brand-text h2 {
  font-family: Handlee, cursive;
}

.navbar-brand p {
  color: #09516c;
  font-size: 16px;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 10px 0;
}

.button-resume {
  background-color: #09516c;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

.button-resume:hover {
  background-color: #06374a;
}

.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f8f5f2;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 1000;
}

.navbar-nav .nav-item:hover .dropdown-menu,
.navbar-nav .dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #09516c;
  padding: 12px 16px;
  font-family: 'Raleway', sans-serif;
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .navbar-brand {
    font-size: 2rem;
    margin-right: 10rem;
  }

  .navbar-brand p {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.95rem;
  }

  .button-resume {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    margin-right: 5rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .logo img {
    margin-right: auto;
    display: block;
  }

  .navbar-brand {
    font-size: 1.8rem;
    margin-right: 0;
  }

  .navbar-brand p {
    font-size: 1rem;
    text-align: center;
  }

  .nav-link {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  .dropdown-menu {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse {
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-brand p {
    font-size: 0.9rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}
