/* Main styles for the header display & profile image. */
img {
    margin-right: 1.5rem;
}

.navbar-brand p {
    color: darkgreen;
    font-size: 1rem;
    font-family: Lato;
}   

.nav-bar {
        background-color: #f8f5f2;
        padding-left: 2rem;
    }

.nav-link {
    font-family: 'Lato';
}
