.content-container {
    margin-bottom: 4rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.footer a {
    margin: 0;
    color: #41745Bff;
    font-size: 2.5rem;
    transition: color 0.3s, transform 0.3s;
}

.footer a:hover {
    color: #1F5742;
    transform: scale(1.2);
}

.copyright {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
}