
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: #35201f;
    height: 200px;
}

.header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: #c84839;
    font-size: 3rem;
}


#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background: magenta;
    height: 200px;
    padding-top: 1.6rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}

.footer h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
}



