/* Main styles for application. */
body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(79, 162, 133);
    background: linear-gradient(16deg, rgba(79, 162, 133, 1) 4%, rgba(67, 166, 134, 0.6278886554621849) 30%, rgba(31, 87, 66, 1) 68%, rgba(36, 73, 65, 1) 91%);
}

/* #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
} */